
nav{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    >div{
        display: flex;
        justify-content: space-between;
        button{
            display:none;
            border: none;
            background-color:#fff;
            padding-right:1rem ;
        }
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 32.4rem;
        height: 2.8rem;
        list-style-type: none;

        li{
            list-style-type: none;


            a{
                text-decoration: none;
                color: black;
                font-size: 1.6rem;
            }
        }
    }

    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 13rem;
        height: 2.8rem;


        // span{
        //     display: flex;
        //     background-color: red;
        // }


        
        div{
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
            span:last-child{
                // display: inline-block;
                padding-left: 6px;
                padding-top: 1px;
                width: 2rem;
                height: 2rem;
                color: #fff;
                background-color:rgb(0, 0, 0);
                border-radius: 50%;
                font-size: 1.4rem;
            }

        }

        
    }
}


@media screen and (max-width: 480px) { 
    nav{
        >div {
            button{
                display: inline-block;

            }
        }


        li{
            display: none;
        }


        >div{  
            >span{
                display: none;
            } 
        }
    }
    
}
