

main{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;

    img{
        width: 100%;
        object-fit: cover;
    }
    
    div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid red;


        h1{
            font-size: 7.2rem;
            line-height: 1; 
        }

        p{
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}